@model IEnumerable<JqueyDataTables.Customers>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="listar" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fax)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    
    <tbody></tbody>
</table>

@section scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/datatables")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#listar').dataTable({
                "bServerSide": true,
                "sAjaxSource": '@Url.Action("GetDataCustomers", "Home")',
                "bProcessing": true,
                "bdestroy": true,
                "start": 0,
                "order": [0, "asc"],
                "bDeferRender": true,

                "aoColumns": [
                        { "sName": "CompanyName", "mData": "CompanyName" },
                        { "sName": "ContactName", "mData": "ContactName" },
                        { "sName": "ContactTitle", "mData": "ContactTitle" },
                        { "sName": "Address", "mData": "Address" },
                        { "sName": "City", "mData": "City" },
                        { "sName": "Region", "mData": "Region" },
                        { "sName": "PostalCode", "mData": "PostalCode" },
                        { "sName": "Country", "mData": "Country" },
                        { "sName": "Phone", "mData": "Phone" },
                        { "sName": "Fax", "mData": "Fax" },
                        
                ],
            });
        });
    </script>
}
